table, th, tr, td{
	border: 4px dashed red;
	border-collapse: collapse;
}
body{
	background-color: #abcdef;
	font-family: 'Libre Barcode 128', sans-serif; /* Fallback font is recommended */
        font-size: 32px; /* Adjust size as needed */
}
h1{
	background-color: #ABCDEF;
	color: #40E0D0;
	margin: 10px;
	padding: 20px;
	padding-top: 50px;
	border-left: 10px green solid;
}
p{
	background-color:#FEDCBA;
	color: #FFFFFF;
}
ul{
	background-color: #0000FF;
}
#info{
	background-color:PapayaWhip;
}
.highlight{
	background-color:Chartreuse;
}
#animals{
	text-decoration: underline;
	text-decoration-style: wavy;
}

