../../.CFUserTextEncoding
	../../.arduinoIDE/
	../../.bash_history
	../../.cups/
	../../.gitconfig
	../../.idlerc/
	../../.lesshst
	../../.local/
	../../.ssh/
	../../.vim/
	../../.viminfo
	../../.vimrc
	../../.vscode/
	../../.zsh_history
	../../.zsh_sessions/
	../../Applications/
	../.localized
	"../Screenshot 2026-01-20 at 12.03.46\342\200\257PM.png"
	"../Screenshot 2026-01-29 at 1.19.59\342\200\257PM.png"
	"../Screenshot 2026-01-29 at 1.20.19\342\200\257PM.png"
	"../Screenshot 2026-02-03 at 1.10.42\342\200\257PM.png"
	"../Screenshot 2026-02-03 at 2.39.39\342\200\257PM.png"
	"../Screenshot 2026-02-03 at 2.39.40\342\200\257PM.png"
	../../Documents/
	../../Downloads/
	../../Library/
	../../Movies/
	../../Music/
	../../Pictures/
	../../Public/
